body {
    background: #111;
    color: #ccc;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    width: 180px;
    font-size: 0.8em;
    padding: 5px 10px 5px 5px;
    box-sizing: border-box;
}

aside div {
    margin-bottom: 5px;
}

aside div .delete-icon {
    float: right;
    clear: both;
    color: #555;
}

input.new-artist {
    width: 100%;
    background-color: #111;
    border: none;
    border-bottom: solid 1px #444;
    margin-bottom: 10px;
    color: #ccc;
    padding: 2px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
}

.card {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 150px;
    padding: 5px;
    background-color: #222;
    position: relative;
}

.img-wrap .delete-icon {
    position: absolute;
    right: 3px;
    text-shadow: 0px 1px black;
    z-index: 3;
    cursor: pointer;
}

.card .desc {
    /*min-height: 50px;*/
}

.card img {
    width: 150px;
    height: 150px;
}

.card .img-wrap {
    width: 150px;
    height: 110px;
    overflow: hidden;
    position: relative;
}

.img-wrap .title {
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 3;
}

.card .img-wrap::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
    z-index: 2;
}

.event a {
    font-size: 0.75em;
    color: white;
    text-decoration: none;
}

.list-complete-item {
    transition: all 1s;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active for <2.1.8 */ {
    opacity: 0;
    transform: translateX(30px);
}

.list-complete-leave-active {
    position: absolute;
}
.quickstart {
    font-size: 2em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 200px;
}

input.new-artist-quickstart {
    background-color: #111;
    border: none;
    border-bottom: solid 1px #444;
    margin-bottom: 10px;
    color: #ccc;
    padding: 2px 0px;
    outline: none;
    width: 240px;
}
