body {
    background: #111;
    color: #ccc;
    font-family: -apple-system, BlinkMacSystemFont,
        'Helvetica Neue', Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

aside.settings {
    width: 30px;
    box-sizing: border-box;
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    height: 95vh;
    color: #888;
}

aside.artists {
    width: 180px;
    font-size: 0.8em;
    padding: 5px 10px 5px 5px;
    box-sizing: border-box;
    height: 95vh;
    overflow-y: scroll;
}

aside div {
    margin-bottom: 5px;
}

aside.artists div .delete-icon {
    float: right;
    clear: both;
    color: #555;
}

input.new-artist {
    width: 100%;
    background-color: #111;
    border: none;
    border-bottom: solid 1px #444;
    margin-bottom: 10px;
    color: #ccc;
    padding: 2px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 95vh;
}

.feed {
   height: 5vh;
   padding-bottom: 5px;
   padding-left: 10px;
   box-sizing: border-box;
}

.feed-item {
   font-size: 0.7em;
   margin-right: 20px;
   color: #ccc;
   text-decoration: none;
}

.card {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 150px;
    padding: 5px;
    background-color: #222;
    position: relative;
    transition: all 1s;
}

.img-wrap .delete-icon {
    position: absolute;
    right: 3px;
    text-shadow: 0px 1px black;
    z-index: 3;
    cursor: pointer;
}

.card img {
    width: 150px;
    height: 150px;
}

.card .img-wrap {
    width: 150px;
    height: 90px;
    overflow: hidden;
    position: relative;
}

.img-wrap .title {
    position: absolute;
    font-weight: bold;
    opacity: 0.6;
    left: 5px;
    bottom: 5px;
    z-index: 3;
}

.img-wrap .title.on-tour {
    color: #ddd;
    opacity: 1;
}

.card .img-wrap::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
    z-index: 2;
}

.event a {
    font-size: 0.75em;
    color: inherit;
    text-decoration: none;
    transition: all 1s;
}

.l-item {
    transition: all 0.8s;
}
.l-enter, .l-leave-to
/* .list-complete-leave-active for <2.1.8 */ {
    opacity: 0;
    transform: translateX(30px);
}

.l-leave-active {
    position: absolute;
}

.quickstart {
    font-size: 2em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 200px;
}

.quickstart button {
   background-color: #222;
   border: solid 2px #444;
   border-radius: 5px;
   color: #ccc;
   padding: 2px 15px;
   transition: all 400ms;
   cursor: pointer;
}

.quickstart button:hover {
   background-color: rebeccapurple;
   border-color: rebeccapurple;
   color: white;
   transition: all 200ms;
}

input.new-artist-quickstart {
    background-color: #111;
    border: none;
    border-bottom: solid 1px #444;
    margin-bottom: 10px;
    color: #ccc;
    padding: 2px 0px;
    outline: none;
    width: 240px;
}

input.new-artist-quickstart::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #444;
}

input.new-artist-quickstart::-moz-placeholder { /* Firefox 19+ */
  color: #444;
}

input.new-artist-quickstart:-ms-input-placeholder { /* IE 10+ */
  color: #444;
}

input.new-artist-quickstart:-moz-placeholder { /* Firefox 18- */
  color: #444;
}

canvas {
    position: absolute;
    left: -9999px;
    bottom: -9999px;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all .1s;
    white-space: nowrap;
}

.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0;
    width: 0px !important;
    overflow: hidden;
    transform: translateX(-30px);
}
