<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gigs for {{ user | safe }}</title>
    <style type="text/css">[v-cloak] {display: none;}</style>

    <script type="text/javascript" src="https://unpkg.com/vue@2.2.1"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

    <link rel="stylesheet" type="text/css" href="/static/css/app.css?r={{ r }}"/>
</head>
<body>
    <div id="app" v-cloak>
        <transition name="fade">
            <div v-if="modalVisible" class="modal-backdrop" v-on:click.self="modalVisible = false">
                <div class="modal">
                    <div v-if="unlocked">
                        <p><i class="large icon icon-lock-open"></i> Pick a pin to lock</p>
                        <p><input type="password" class="pin"/> <button type="button">Lock</button></p>
                    </div>
                    <div v-else>
                        <i class="large icon icon-lock"></i> Enter pin to unlock
                    </div>
                </div>
            </div>
        </transition>

        <main>
            <aside class="settings" v-if="artists.length > 0">
              <div class="claim" v-on:click="modalVisible = true">
                <i class="icon icon-lock" v-if="unlocked"></i>
                <i class="icon icon-lock-open" v-else></i>
              </div>
              <div class="hide-inactive" title="Show inactive artists' cards"
                  v-on:click="show_inactive = !show_inactive">
                <i class="icon icon-eye" v-if="!show_inactive"></i>
                <i class="white icon icon-eye" v-else></i>
              </div>
              <div class="fullscreen" title="Toggle fullscreen"
                   v-on:click="fullscreen = !fullscreen">
                <i v-if="fullscreen" class="icon icon-size-actual"></i>
                <i v-else class="icon icon-size-fullscreen"></i>
              </div>
            </aside>

            <transition name="slide-fade">
              <aside v-if="!fullscreen && artists.length > 0" class="artists">
                  <input class="new-artist" v-if="unlocked" autofocus autocomplete="off"
                      placeholder="New artist?" v-model="newArtist"
                      @keyup.enter="addArtist"/>

                  <transition-group name="l" tag="div" class="artists-container">
                      <div v-for="artist in sortedArtists" v-if="artistCache[artist]" class="l-item" v-bind:key="artist">
                        (( artistCache[artist].name )) <span class="delete-icon" v-on:click="removeArtist(artist)" v-if="unlocked">&times;</span>
                      </div>
                  </transition-group>
              </aside>
            </transition>

            <transition-group name="l" tag="div" class="container" v-if="artists.length > 0">
                <div v-for="artist in sortedArtists" v-if="show(artist)" v-bind:key="artist" class="card l-item">
                    <div class="img-wrap">
                        <span class="delete-icon" v-if="unlocked" v-on:click="removeArtist(artist)">&times;</span>
                        <img v-bind:src="artistCache[artist].img" v-if="artistCache[artist].img.length" v-on:load="loadedImage" crossOrigin="anonymous" />
                        <a v-bind:class="['title', eventsCache[artistCache[artist].id].length > 0 ? 'on-tour' : '']" v-bind:href="artistCache[artist].url" target="_blank">
                            (( artistCache[artist].name ))
                        </a>
                    </div>

                    <div class="desc">
                        <div v-for="event in eventsCache[artistCache[artist].id]" class="event">
                            <a v-bind:href="event.url" target="_blank" class="event-link">
                                <b>(( event.location ))</b> (( event.date ))</a>
                        </div>
                    </div>
                </div>
            </transition-group>

          <div class="quickstart" v-if="unlocked && artists.length === 0">
                <span>I want to track concerts of
                <input class="new-artist-quickstart" autofocus autocomplete="off"
                  placeholder="my favorite band" v-model="newArtist"
                  @keyup.enter="addArtist"/>,
                </span>
                <button type="button" v-on:click="addArtist">Enter</button> <br/>
          </div>

          <div class="quickstart" v-if="!unlocked && artists.length === 0">
            This dashboard is empty but locked.
          </div>
        </main>

        <transition-group name="l" tag="marquee" class="feed" v-if="closestEvents()">
          <a class="feed-item l-item" v-bind:href="e[2].url" target="_blank" key="e" v-for="e in closestEvents()">
              <span class="feed-item-artist">(( artistById[e[1]].name ))</span> @
              <b>(( e[2].location ))</b> (( e[2].date ))
          </a>
        </transition-group>
    </div>

    <script type="text/javascript">
        var ARTISTS = {{ artists | safe }};
        var USER = "{{ user | safe }}";
    </script>

    <script type="text/javascript" src="/static/js/lastfm.js?r={{ r }}"></script>
    <script type="text/javascript" src="/static/js/songkick.js?r={{ r }}"></script>
    <script type="text/javascript" src="/static/js/Vibrant.min.js?r={{ r }}"></script>
    <script type="text/javascript" src="/static/js/app.js?r={{ r }}"></script>
</body>
</html>
