<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My artists</title>
    <script type="text/javascript" src="https://unpkg.com/vue@2.2.1"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <main id="app">
        <aside>
            <ul>
                <li v-for="artist in sortedArtists">
                  (( artist ))
                </li>
            </ul>
            <input class="new-todo" autofocus autocomplete="off"
                placeholder="New artist?" v-model="newArtist"
                @keyup.enter="addArtist"/>
        </aside>
        <div class="container">
            <div v-for="artist in sortedArtists" v-if="artistCache[artist]" class="card">
                (( artistCache[artist].name ))
            </div>
        </div>
    </main>

    <script type="text/javascript">
        var ARTISTS = {{ artists|safe }};
        var USER = "{{ user | safe }}";
    </script>

    <script type="text/javascript" src="/static/js/lastfm.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>