<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My artists</title>
    <script type="text/javascript" src="https://unpkg.com/vue@2.2.1"></script>
</head>
<body id="app">
    <aside>
        <ul>
            <li v-for="artist in artists">
              {{ artist }}
            </li>
        </ul>
    </aside>
    <main></main>

    <script type="text/javascript">
        var artists = {{ artists|safe }};

        var app = new Vue({
          el: '#app',
          data: {
            artists: artists
          }
        });

    </script>
</body>
</html>